<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Our AirBnb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listproperties">Echa un vistazo</a>
        </li>
      </ul>
          <a href="/signup" class="btn btn-outline-danger my-2 my-sm-0 mr-2">Registrarse</a>
          <a href="/signin" class="btn btn-outline-success my-2 my-sm-0">Iniciar Sesión</a>
    </div>
  </nav>